*.py[cod]
*.swp
*.bak
.DS_STORE
log
first_setup.zsh

htmlcov/

# pycharm
.idea/*
.cache/*
# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Complexity
output/*.html
output/*/index.html

.vscode
site
output
temp

# Proprietary files
circuitbrew/tech/process/n7
circuitbrew/temp
skywater-pdk*

# pyenv
.python-version